In [144]:
import pandas as pd
import re

In [145]:
# Load coal mine data (Primary dataset)
mine_full = pd.read_excel("./Data/new coal/Global-Coal-Mine-Tracker-April-2024 (1).xlsx", 
                          sheet_name="Global Coal Mine Tracker (Non-C")

# Load coal power plant data and calculate the estimated capacity using the capacity factor

plant_full = pd.read_excel("./Data/new coal/Global-Coal-Plant-Tracker-January-2025.xlsx", sheet_name="Units")
plant_full['Est_capacity (MW)'] = plant_full['Capacity (MW)'] * plant_full['Capacity factor']

# Load coal terminal data note: The terminal dataset capacity may be overestimated, as some terminals handle "all cargo"
terminal_full = pd.read_excel("./Data/new coal/Global-Coal-Terminals-Tracker-December-2024.xlsx", sheet_name="Terminals")

In [146]:
# Filter plant and terminal data
plant = plant_full[(plant_full['Status'].str.lower() == 'operating') & (plant_full['Country/Area'] == 'India')]
terminal = terminal_full[(terminal_full['Status'].str.lower() == 'operating') & (terminal_full['Country/Area'] == 'India')]
# Filter mine data
total_data = pd.read_excel("./Data/total_data.xlsx")
mine = total_data.merge(mine_full, left_on="asset_id", right_on="GEM Mine ID", how="inner")
mine = mine[mine['Primary Consumer, Destination'] == 'Coal Plant'].drop_duplicates(subset=['GEM Mine ID'], keep='last')
mine

,asset_id,name,latitude,longitude,country,production,firm,GEM Mine ID,MSHA ID,Country,...,Location Accuracy,"Primary Consumer, Destination","Coal Plant, Steel Plant, Terminal","Coal Plant, Steel Plant, Terminal GEM Wiki",Reported Coal Mine Methane Emissions (thousand tonnes CO2e),Year of Reported Coal Mine Methane Emissions,GEM Coal Mine Methane Emissions Estimate (MCM/yr),GEM Coal Mine Methane Emissions Estimate (M tonnes/yr),CMM Emissions (CO2e 20 years),CMM Emissions (CO2e 100 years)
1,M0465,Adriyala Coal Mine,18.664800,79.579000,India,1.700,The Singareni Collieries Co Ltd [100%],M0465,NaN,India,...,Exact,Coal Plant,Ramagundam power station,https://www.gem.wiki/Ramagundam_power_station,NaN,NaN,12.6,0.008,0.7,0.3
9,M0474,Amlohri Coal Mine,24.134000,82.593000,India,15.000,Coal India Ltd [100.0%],M0474,NaN,India,...,Exact,Coal Plant,Rihand power station,https://www.gem.wiki/Rihand_power_station,NaN,NaN,74.3,0.05,4.1,1.5
10,M0475,Amrapali Coal Mine,23.889479,85.001710,India,22.590,Coal India Ltd [100.0%],M0475,NaN,India,...,Exact,Coal Plant,Barh I power station,https://www.gem.wiki/Barh_I_power_station,NaN,NaN,48.6,0.033,2.7,1
24,M0488,Bina Coal Mine,24.148300,82.747600,India,10.500,Coal India Ltd [100.0%],M0488,NaN,India,...,Exact,Coal Plant,Anpara thermal power station,https://www.gem.wiki/Anpara_thermal_power_station,NaN,NaN,33.5,0.022,1.8,0.7
34,M0513,Dipka Coal Mine,22.345077,82.544192,India,33.240,Coal India Ltd [100.0%],M0513,NaN,India,...,Exact,Coal Plant,Korba Super Thermal Power Station (NTPC),https://www.gem.wiki/Korba_Super_Thermal_Power...,NaN,NaN,130.2,0.087,7.2,2.6
38,M0515,Dulanga Coal Mine,21.951705,83.807564,India,7.000,NTPC Ltd [100%],M0515,NaN,India,...,Exact,Coal Plant,Darlipalli Super Thermal Power Station,https://www.gem.wiki/Darlipalli_Super_Thermal_...,NaN,NaN,6.3,0.004,0.4,0.1
46,M0527,Gevra Coal Mine,22.336312,82.545748,India,59.110,Coal India Ltd [100.0%],M0527,NaN,India,...,Exact,Coal Plant,Korba Super Thermal Power Station (NTPC),https://www.gem.wiki/Korba_Super_Thermal_Power...,NaN,NaN,63,0.042,3.5,1.3
63,M0552,Gopalji Kaniha Coal Mine,21.095844,85.079292,India,12.350,Coal India Ltd [100.0%],M0552,NaN,India,...,Exact,Coal Plant,Talcher Kaniha power station,https://www.gem.wiki/Talcher_Kaniha_power_station,NaN,NaN,14.6,0.01,0.8,0.3
68,M0556,Khadia Coal Mine,24.131800,82.714400,India,15.000,Coal India Ltd [100.0%],M0556,NaN,India,...,Exact,Coal Plant,Anpara thermal power station,https://www.gem.wiki/Anpara_thermal_power_station,NaN,NaN,13.5,0.009,0.7,0.3
90,M0580,Moher Amlohri Coal Mine,24.135000,82.599444,India,18.280,Sasan Power Ltd [100%],M0580,NaN,India,...,Exact,Coal Plant,Sasan Ultra Mega Power Project,https://www.gem.wiki/Sasan_Ultra_Mega_Power_Pr...,NaN,NaN,21.6,0.015,1.2,0.4
95,M0588,Neyveli I Coal Mine,11.571182,79.503738,India,7.000,NLC India Ltd [100%],M0588,NaN,India,...,Exact,Coal Plant,Neyveli Thermal Power Station,https://www.gem.wiki/Neyveli_Thermal_Power_Sta...,NaN,NaN,13.9,0.009,0.8,0.3
96,M0589,Neyveli II Coal Mine,11.520268,79.475537,India,8.970,NLC India Ltd [100%],M0589,NaN,India,...,Exact,Coal Plant,Neyveli Thermal Power Station,https://www.gem.wiki/Neyveli_Thermal_Power_Sta...,NaN,NaN,18.2,0.012,1,0.4
98,M0591,Nigahi Coal Mine,24.135000,82.599444,India,22.500,Coal India Ltd [100.0%],M0591,NaN,India,...,Exact,Coal Plant,Vindhyachal power station,https://www.gem.wiki/Vindhyachal_power_station,NaN,NaN,97.9,0.066,5.4,2
104,M0598,Pachhwara (North) Coal Mine,24.474744,87.476437,India,13.700,The West Bengal Power Development Corp Ltd [100%],M0598,NaN,India,...,Approximate,Coal Plant,Sagardighi Thermal Power Station,https://www.gem.wiki/Sagardighi_Thermal_Power_...,NaN,NaN,10.9,0.007,0.6,0.2
106,M0604,Parsa East And Kanta Basan Coal Mine,22.837950,82.814010,India,6.700,Rajasthan Rajya Vidyut Utpadan Nigam Ltd [100%],M0604,NaN,India,...,Exact,Coal Plant,Chhabra Thermal Power Station,https://www.gem.wiki/Chhabra_Thermal_Power_Sta...,NaN,NaN,18,0.012,1,0.4
119,M0628,Sarisatolli Coal Mine,23.799677,87.045467,India,1.290,RPSG Group [100%],M0628,NaN,India,...,Exact,Coal Plant,Balagarh power station,https://www.gem.wiki/Balagarh_power_station,NaN,NaN,2,0.001,0.1,0
127,M0636,Tadicherla Coal Mine,18.523763,79.749677,India,2.500,Telangana State Power Generation Corp Ltd [100%],M0636,NaN,India,...,Exact,Coal Plant,Kakatiya Power Station,https://www.gem.wiki/Kakatiya_Power_Station,NaN,NaN,2.7,0.002,0.1,0.1
129,M0640,Talaipalli Coal Mine,22.177580,83.355201,India,7.220,NTPC Ltd [100%],M0640,NaN,India,...,Exact,Coal Plant,Lara Integrated Thermal Power Project,https://www.gem.wiki/Lara_Integrated_Thermal_P...,NaN,NaN,3.2,0.002,0.2,0.1
132,M0645,Ukni Deep Coal Mine,20.020678,79.067833,India,1.830,Coal India Ltd [100.0%],M0645,NaN,India,...,Exact,Coal Plant,Dhopave Thermal Power Station (Mahagenco),https://www.gem.wiki/Dhopave_Thermal_Power_Sta...,NaN,NaN,4.2,0.003,0.2,0.1
169,M1691,Kakatiya Khani-1 & 1A Coal Mine,18.465613,79.840804,India,0.221,The Singareni Collieries Co Ltd [100%],M1691,NaN,India,...,Approximate,Coal Plant,Kakatiya Power Station,https://www.gem.wiki/Kakatiya_Power_Station,NaN,NaN,1.3,0.001,0.1,0
214,M1747,Tawa Coal Mine,22.137615,78.170928,India,0.414,Coal India Ltd [100.0%],M1747,NaN,India,...,Exact,Coal Plant,Satpura Thermal Power Station,https://www.gem.wiki/Satpura_Thermal_Power_Sta...,NaN,NaN,5.1,0.003,0.3,0.1
227,M2512,Paoni-Il Coal Mine,19.827050,79.255267,India,3.240,Coal India Ltd [100.0%],M2512,NaN,India,...,Exact,Coal Plant,Dhopave Thermal Power Station (Mahagenco),https://www.gem.wiki/Dhopave_Thermal_Power_Sta...,NaN,NaN,12.2,0.008,0.7,0.2
290,M2791,Rajpura Coal Mine,23.758735,86.773174,India,0.076,Coal India Ltd [100.0%],M2791,NaN,India,...,Exact,Coal Plant,Kahalgaon Super Thermal Power Plant,https://www.gem.wiki/Kahalgaon_Super_Thermal_P...,NaN,NaN,0.1,0,0,0
300,M2822,Vastan Lignite Mine,21.431017,73.112618,India,0.520,Gujarat Industries Power Co Ltd [100%],M2822,NaN,India,...,Exact,Coal Plant,Surat Lignite Power Plant,https://www.gem.wiki/Surat_Lignite_Power_Plant,NaN,NaN,0.6,0,0,0
306,M2842,Naheriya Coal Mine,22.281211,78.989246,India,0.250,Coal India Ltd [100.0%],M2842,NaN,India,...,Exact,Coal Plant,M.P. Power Generating Company,https://www.gem.wiki/M.P._Power_Generating_Com...,NaN,NaN,1.3,0.001,0.1,0
348,M3013,Surakachhar 3&4 Coal Mine,22.367844,82.632240,India,0.030,Coal India Ltd [100.0%],M3013,NaN,India,...,Exact,Coal Plant,Chandrapur Thermal Power Station,https://www.gem.wiki/Chandrapur_Thermal_Power_...,NaN,NaN,0.3,0,0,0

## Sheet 4: Supply Chain

Step 1: Supplement the supply chian relationships from mine data to plant data

In [147]:
# Define mapping rules for renaming 'Coal Plant, Steel Plant, Terminal' values
plant_name_mapping = {
    "Darlipalli Super Thermal Power Station": "Darlipali power station", #confirm to be typo
    "Talcher Kaniha power station": "Talcher Kaniha Super Thermal Power Station",
    "Neyveli Thermal Power Station": ["New Neyveli Thermal Power Station", "Neyveli Thermal Power Station I", "Neyveli Thermal Power Station II"],
    "Kakatiya Power Station": "Kakatiya Thermal Power Project",
    "M.P. Power Generating Company": ["Shree Singaji Thermal Power Project", "Satpura Thermal Power Station"],
    "Anpara thermal power station": ["Anpara power station", "Anpara-C power station", "Anpara-D power station"]
}

# Expand 'Coal Plant, Steel Plant, Terminal' column with mapped names
expanded_plant_names = []
for name in mine['Coal Plant, Steel Plant, Terminal']:
    if name in plant_name_mapping:
        mapped_names = plant_name_mapping[name]
        if isinstance(mapped_names, list):
            expanded_plant_names.append(";".join(mapped_names))  # Join multiple mappings with semicolon
        else:
            expanded_plant_names.append(mapped_names)
    else:
        expanded_plant_names.append(name)

mine['Coal Plant, Steel Plant, Terminal'] = expanded_plant_names

# Iterate through mine dataset and link to plant dataset
for index, row in mine.iterrows():
    plant_names = row['Coal Plant, Steel Plant, Terminal'].split(';')  # Split mapped names if multiple
    mine_id = row['GEM Mine ID']  # Use GEM Mine ID instead of name
    
    for plant_name in plant_names:
        plant_name = plant_name.strip()
        matching_plants = plant[plant['Plant name'].str.contains(plant_name, case=False, na=False)]
        
        # Assign GEM Mine ID to the 'Coal source' column in the plant dataset
        for plant_index in matching_plants.index:
            if pd.isna(plant.at[plant_index, 'Coal source']) or plant.at[plant_index, 'Coal source'] == '':
                plant.at[plant_index, 'Coal source'] = mine_id
            else:
                plant.at[plant_index, 'Coal source'] += f", {mine_id}"

/var/folders/wy/k_hfp9ls0msf61dg9qbm3h040000gn/T/ipykernel_1201/1566670525.py:32: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  matching_plants = plant[plant['Plant name'].str.contains(plant_name, case=False, na=False)]

Step 2: Manually link the mine or the coalfields with plant according to the coal source info (unfinished,waiting for the final version of ownership sheet), then extract mine-plant supply chain relationships

In [148]:
# Drop rows where 'Coal source' is NaN
plant = plant.dropna(subset=['Coal source'])

# Define mapping rules for linking mine ID and plant data
coal_source_updates = {
    "Dudhichua": "M0514",
    "Gare IV/1 coal mine": "M0520",
    "Pakri Barwadih": "M0601",  # This can be ignored, as coal block != coal mine
    "Dulanga": "M0515",  # This can be ignored, coal block != coal mine
    "Talaipalli": "M0640",
    "Talabira": "M1745",
    "Manoharpur": "M3888",
    "Amelia and Dongrital Blocks": "M0471",
    "Paras east and Kanta basin": "M0604",
    "Tokisud": "M0643",
    "Sriiampur": "M1740",
    "Talcher": "M1746",
    "West Bokaro": "M0649",
    "Bina": "M0488",
    "Moher-Amlori": "M0580"
}

# Function to update 'Coal source' column by appending corresponding Mine IDs
def update_coal_source(coal_source): 

    coal_source = str(coal_source)
    additional_values = [value for key, value in coal_source_updates.items() if key in coal_source]
    
    if additional_values:
        return coal_source + ", " + ", ".join(additional_values)
    return coal_source

# Apply the update function to 'Coal source' column
plant['Coal source'] = plant['Coal source'].apply(update_coal_source)

# Create new DataFrame with 'supplier', 'client', 'recipe', and 'product' columns
new_data = []
for index, row in plant.iterrows():
    coal_sources = str(row['Coal source']).split(',')  # Split multiple sources
    for source in coal_sources:
        source = source.strip()  # Remove extra spaces
        match = re.match(r'^M\d{4}$', source)  # Check if it matches 'M' followed by 4 digits
        if match:
            supplier = source  # Assign supplier from the match
            client = row['GEM location ID']  # Assign client
            product = row['Coal type']  # Assign product
            recipe = None  # Placeholder for recipe, can be updated if needed
            new_data.append([supplier, client, recipe, product])  # Add to new data list

# Create new DataFrame with the extracted values
supply_chain_MP = pd.DataFrame(new_data, columns=['supplier', 'client', 'recipe', 'product'])

# Remove duplicate rows where supplier and client are the same, keep only the first occurrence
supply_chain_MP = supply_chain_MP.drop_duplicates(subset=['supplier', 'client'], keep='first')

In [149]:
supply_chain_MP

    supplier         client recipe        product
0      M1746  L100000102442   None        unknown
2      M0488  L100000102610   None     bituminous
3      M0556  L100000102610   None     bituminous
12     M0488  L100000102611   None     bituminous
13     M0556  L100000102611   None     bituminous
16     M0488  L100000102612   None     bituminous
17     M0556  L100000102612   None     bituminous
18     M0514  L100000102612   None     bituminous
24     M0475  L100000102092   None        unknown
26     M3013  L100000102388   None     bituminous
33     M0604  L100000102524   None  subbituminous
39     M0515  L100000102458   None        unknown
40     M0601  L100000102458   None        unknown
45     M0520  L100000102142   None        unknown
49     M0601  L100000102626   None     bituminous
50     M0640  L100000102626   None     bituminous
51     M1745  L100000102466   None        unknown
55     M3888  L100000102467   None        unknown
57     M0471  L100000102338   None        lignite
59     M2791  L100000102104   None        lignite
66     M0636  L100000102595   None  subbituminous
67     M1691  L100000102595   None  subbituminous
70     M0604  L100000102527   None  subbituminous
72     M0640  L100000102164   None        unknown
74     M0643  L100000102348   None        unknown
76     M0588  L100000102565   None        lignite
77     M0589  L100000102565   None        lignite
80     M0588  L100000102566   None        lignite
81     M0589  L100000102566   None        lignite
84     M0588  L100000102567   None        lignite
86     M0589  L100000102567   None        lignite
120    M1740  L100000102601   None        unknown
122    M0465  L100000102602   None     bituminous
131    M1746  L100000102490   None        unknown
133    M0474  L100000102649   None     bituminous
139    M0598  L100000102684   None        unknown
143    M0580  L100000102360   None        unknown
155    M1747  L100000102361   None     bituminous
156    M2842  L100000102361   None     bituminous
167    M2842  L100000102366   None        unknown
171    M2822  L100000102228   None        lignite
175    M0552  L100000102502   None     bituminous
181    M0649  L100000102287   None     bituminous
183    M0591  L100000102371   None     bituminous
194    M0601  L100000102371   None     bituminous

In [150]:
# 1ï¸âƒ£ Create supply_chain DataFrame
supply_chain_TP = pd.DataFrame(columns=['supplier', 'client', 'recipe', 'product'])
supply_chain_TP['supplier'] = terminal['GEM Terminal ID'].unique()

# 2ï¸âƒ£ Filter 'GEM Terminal ID' from terminal data where 'Coal Source' contains different countries
indonesia_terminal_ids = terminal[terminal['Coal Source'].str.contains('Indonesia', case=False, na=False, regex=True)]['GEM Terminal ID'].unique()
australia_terminal_ids = terminal[terminal['Coal Source'].str.contains('Australia', case=False, na=False, regex=True)]['GEM Terminal ID'].unique()
mozambique_terminal_ids = terminal[terminal['Coal Source'].str.contains('Mozambique', case=False, na=False, regex=True)]['GEM Terminal ID'].unique()
south_africa_terminal_ids = terminal[terminal['Coal Source'].str.contains('South Africa', case=False, na=False, regex=True)]['GEM Terminal ID'].unique()

# 3ï¸âƒ£ Filter 'GEM Plant ID' from plant data where 'Coal Source' contains different countries
indonesia_plant_ids = plant[plant['Coal source'].str.contains('Indonesia', case=False, na=False, regex=True)]['GEM location ID'].unique()
australia_plant_ids = plant[plant['Coal source'].str.contains('Australia', case=False, na=False, regex=True)]['GEM location ID'].unique()
mozambique_plant_ids = plant[plant['Coal source'].str.contains('Mozambique', case=False, na=False, regex=True)]['GEM location ID'].unique()
south_africa_plant_ids = plant[plant['Coal source'].str.contains('South Africa', case=False, na=False, regex=True)]['GEM location ID'].unique()

# 4ï¸âƒ£ Create a new DataFrame to store the expanded matching relationships
expanded_rows = []

# 5ï¸âƒ£ Iterate through the filtered terminal IDs and duplicate rows to match multiple plant IDs
for terminal_id in indonesia_terminal_ids:
    for plant_id in indonesia_plant_ids:
        expanded_rows.append({'supplier': terminal_id, 'client': plant_id, 'recipe': '', 'product': ''})

for terminal_id in australia_terminal_ids:
    for plant_id in australia_plant_ids:
        expanded_rows.append({'supplier': terminal_id, 'client': plant_id, 'recipe': '', 'product': ''})

for terminal_id in mozambique_terminal_ids:
    for plant_id in mozambique_plant_ids:
        expanded_rows.append({'supplier': terminal_id, 'client': plant_id, 'recipe': '', 'product': ''})

for terminal_id in south_africa_terminal_ids:
    for plant_id in south_africa_plant_ids:
        expanded_rows.append({'supplier': terminal_id, 'client': plant_id, 'recipe': '', 'product': ''})

# 6ï¸âƒ£ Convert the list to a DataFrame and append to supply_chain
expanded_df = pd.DataFrame(expanded_rows)

# 7ï¸âƒ£ Append the expanded data to supply_chain
supply_chain_TP = pd.concat([supply_chain_TP, expanded_df], ignore_index=True)

supply_chain_TP

   supplier         client recipe product
0     T1180            NaN    NaN     NaN
1     T1183            NaN    NaN     NaN
2     T1155            NaN    NaN     NaN
3     T1054            NaN    NaN     NaN
4     T1162            NaN    NaN     NaN
5     T1178            NaN    NaN     NaN
6     T1181            NaN    NaN     NaN
7     T1175            NaN    NaN     NaN
8     T1059            NaN    NaN     NaN
9     T1171            NaN    NaN     NaN
10    T1160            NaN    NaN     NaN
11    T1157            NaN    NaN     NaN
12    T1182            NaN    NaN     NaN
13    T1156            NaN    NaN     NaN
14    T1179            NaN    NaN     NaN
15    T1170            NaN    NaN     NaN
16    T1174            NaN    NaN     NaN
17    T1173            NaN    NaN     NaN
18    T1161            NaN    NaN     NaN
19    T1166            NaN    NaN     NaN
20    T1168            NaN    NaN     NaN
21    T1167            NaN    NaN     NaN
22    T1158            NaN    NaN     NaN
23    T1163            NaN    NaN     NaN
24    T1153            NaN    NaN     NaN
25    T1172            NaN    NaN     NaN
26    T1159            NaN    NaN     NaN
27    T1164            NaN    NaN     NaN
28    T1017            NaN    NaN     NaN
29    T1165            NaN    NaN     NaN
30    T1058            NaN    NaN     NaN
31    T1177            NaN    NaN     NaN
32    T1180  L100000102537
33    T1180  L100000102539
34    T1180  L100000102055
35    T1180  L100000102584
36    T1160  L100000102537
37    T1160  L100000102539
38    T1160  L100000102055
39    T1160  L100000102584
40    T1157  L100000102537
41    T1157  L100000102539
42    T1157  L100000102055
43    T1157  L100000102584
44    T1182  L100000102537
45    T1182  L100000102539
46    T1182  L100000102055
47    T1182  L100000102584
48    T1170  L100000102537
49    T1170  L100000102539
50    T1170  L100000102055
51    T1170  L100000102584
52    T1166  L100000102537
53    T1166  L100000102539
54    T1166  L100000102055
55    T1166  L100000102584
56    T1168  L100000102537
57    T1168  L100000102539
58    T1168  L100000102055
59    T1168  L100000102584

In [151]:
# 1ï¸âƒ£ Create a new DataFrame to store plant data and remove rows where 'Coal Source' contains specific countries
plant_filtered = plant[
    ~plant['Coal source'].str.contains('Indonesia|Australia|South Africa|Mozambique', case=False, na=False, regex=True)
].copy()

# 2ï¸âƒ£ Filter only rows where 'Coal Source' contains 'mported' (case insensitive)
plant_filtered = plant_filtered[
    plant['Coal source'].str.contains('mported', case=False, na=False, regex=True)
].copy()

# 3ï¸âƒ£ Identify suppliers (GEM Terminal ID) in supply_chain that do not have a client
suppliers_without_clients = supply_chain_TP[supply_chain_TP['client'].isna()]['supplier'].unique()

# 4ï¸âƒ£ Retrieve all GEM Plant IDs from the filtered plant data
filtered_plant_ids = plant_filtered['GEM location ID'].unique()

# 5ï¸âƒ£ For each supplier without a client, duplicate rows and assign all matching GEM Plant IDs
expanded_rows_imported = []
for supplier in suppliers_without_clients:
    for plant_id in filtered_plant_ids:  # Assign all GEM Plant IDs from plant_filtered only to suppliers without clients
        expanded_rows_imported.append({
            'supplier': supplier,
            'client': plant_id,
            'recipe': '',
            'product': ''
        })

# 6ï¸âƒ£ Convert to a DataFrame and append to supply_chain
expanded_df_imported = pd.DataFrame(expanded_rows_imported)
supply_chain_TP = pd.concat([supply_chain_TP, expanded_df_imported], ignore_index=True)

# 7ï¸âƒ£ Remove rows where 'client' is still missing and reset the index
supply_chain_TP = supply_chain_TP.dropna(subset=['client']).reset_index(drop=True)

/var/folders/wy/k_hfp9ls0msf61dg9qbm3h040000gn/T/ipykernel_1201/3660985044.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  plant_filtered = plant_filtered[

In [152]:
# 1ï¸âƒ£ Create four new columns in the supply_chain dataset
supply_chain_TP['supplier_lat'] = None
supply_chain_TP['supplier_lon'] = None
supply_chain_TP['client_lat'] = None
supply_chain_TP['client_lon'] = None

# 2ï¸âƒ£ Retrieve latitude and longitude for suppliers using GEM Terminal ID from the terminal dataset (remove duplicates)
supplier_coords = terminal[['GEM Terminal ID', 'Latitude', 'Longitude']].drop_duplicates(subset=['GEM Terminal ID']).set_index('GEM Terminal ID')

# 3ï¸âƒ£ Perform mapping and expand into two separate columns
supplier_mapped = supply_chain_TP['supplier'].map(supplier_coords.to_dict(orient='index'))
supplier_mapped = supplier_mapped.apply(lambda x: pd.Series([x['Latitude'], x['Longitude']]) if isinstance(x, dict) else pd.Series([None, None]))

# 4ï¸âƒ£ Assign the values to the supply_chain DataFrame
supply_chain_TP[['supplier_lat', 'supplier_lon']] = supplier_mapped

# 5ï¸âƒ£ Retrieve latitude and longitude for clients using GEM Location ID from the plant dataset (remove duplicates)
client_coords = plant[['GEM location ID', 'Latitude', 'Longitude']].drop_duplicates(subset=['GEM location ID']).set_index('GEM location ID')

# 6ï¸âƒ£ Perform mapping and expand into two separate columns
client_mapped = supply_chain_TP['client'].map(client_coords.to_dict(orient='index'))
client_mapped = client_mapped.apply(lambda x: pd.Series([x['Latitude'], x['Longitude']]) if isinstance(x, dict) else pd.Series([None, None]))

# 7ï¸âƒ£ Assign the values to the supply_chain DataFrame
supply_chain_TP[['client_lat', 'client_lon']] = client_mapped

import numpy as np

# Function to calculate the distance between two latitude-longitude points using the Haversine formula
def haversine(lat1, lon1, lat2, lon2):
    R = 6371  # Earthâ€™s radius in kilometers
    lat1, lon1, lat2, lon2 = map(np.radians, [lat1, lon1, lat2, lon2])
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    a = np.sin(dlat/2.0)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2.0)**2
    c = 2 * np.arcsin(np.sqrt(a))
    return R * c

# Compute the distance between each supplier-client pair in the supply_chain dataset
supply_chain_TP['distance_km'] = supply_chain_TP.apply(
    lambda row: haversine(row['supplier_lat'], row['supplier_lon'], row['client_lat'], row['client_lon'])
    if not any(pd.isna([row['supplier_lat'], row['supplier_lon'], row['client_lat'], row['client_lon']])) else np.nan,
    axis=1
)

# Retain only rows where the distance is less than 1000 km
supply_chain_TP = supply_chain_TP[supply_chain_TP['distance_km'] < 1000].reset_index(drop=True)

# Retrieve Coal Type from the plant dataset using client ID (GEM location ID)
client_coal_type = plant[['GEM location ID', 'Coal type']].drop_duplicates(subset=['GEM location ID']).set_index('GEM location ID')

# Map the Coal Type values to the 'product' column in supply_chain
supply_chain_TP['product'] = supply_chain_TP['client'].map(client_coal_type['Coal type'])

# Drop latitude, longitude, and distance columns from supply_chain
supply_chain_TP = supply_chain_TP.drop(columns=['supplier_lat', 'supplier_lon', 'client_lat', 'client_lon', 'distance_km'], errors='ignore')

In [ ]:
supply_chain = pd.concat([supply_chain_TP, supply_chain_MP])

In [156]:
supply_chain

    supplier         client recipe        product
0      T1160  L100000102537         subbituminous
1      T1160  L100000102539               unknown
2      T1160  L100000102055               unknown
3      T1157  L100000102537         subbituminous
4      T1157  L100000102539               unknown
..       ...            ...    ...            ...
171    M2822  L100000102228   None        lignite
175    M0552  L100000102502   None     bituminous
181    M0649  L100000102287   None     bituminous
183    M0591  L100000102371   None     bituminous
194    M0601  L100000102371   None     bituminous

[290 rows x 4 columns]

In [155]:
excel_path = "/Users/user/Documents/GitHub/Thesis_2425/Data/coal_supply_chain_india.xlsx"  

with pd.ExcelWriter(excel_path, engine="openpyxl", mode="a", if_sheet_exists="replace") as writer:
    supply_chain.to_excel(writer, sheet_name="supply_chain", index=False)